<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/4.0.0-beta.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="/webjars/jquery/3.2.1/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.0.0-beta.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Basic custom CSS -->
    <link href="/common/css/blog.css" rel="stylesheet">

    <!-- User CSS-->
    <th:block layout:fragment="css"></th:block>

    <!-- User Script -->
    <th:block layout:fragment="script"></th:block>
</head>
</html>





