<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/default-layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Blog Home</title>
    <script src="/simpleMDE/js/simplemde.min.js"></script>
    <link href="/simpleMDE/css/simplemde.min.css" rel="stylesheet">
</head>

<body>

<!-- Post Content Column -->
<div layout:fragment="content">

    <div class="mb-4">

        <!-- Title -->
        <h1 class="mt-4">New Post</h1>
        <hr>


        <!-- Title Form -->
        <div class="input-group mb-2">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <input type="text" class="form-control" placeholder="Title">
        </div>

        <!-- Content Form -->
        <textarea style="overflow-y: scroll" id="editSection" placeholder="Content"></textarea>
        <button type="submit" class="btn btn-secondary form-control">Submit</button>

        <script>
            var simplemde = new SimpleMDE({element: $("#editSection")[0]});
        </script>

    </div>

</div>

</body>
</html>
