<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/default-layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Blog Home</title>
    <script src="/simpleMDE/js/simplemde.min.js"></script>
    <link href="/simpleMDE/css/simplemde.min.css" rel="stylesheet">
</head>

<body>

<!-- Post Content Column -->
<div layout:fragment="content">

    <div class="mb-4">

        <!-- Title -->
        <h1 class="mt-4">New Post</h1>
        <hr>


        <!-- Title Form -->
        <div class="input-group mb-2">
            <select id="post-category" class="form-control">
                <option th:each="category:${categories}" th:if="${category.selectable}" th:value="${category}"
                        th:text="${category.name}">1
                </option>
            </select>
            <input id="post-title" class="form-control" type="text" placeholder="Title">
        </div>

        <!-- Content Form -->
        <textarea id="post-content" placeholder="Content"></textarea>
        <button id="post-submit" class="btn btn-secondary form-control" type="button">Submit</button>

        <script>
            var simplemde = new SimpleMDE({element: $("#post-content")[0]});

            $('#post-submit').click(function () {

                var category = $('#post-category').val();
                var title = $('#post-title').val();
                var content = simplemde.value();

                if (true) {
                    var post = {
                        'category': category,
                        'title': title,
                        'content': content
                    };
                    submit(post);
                }
            });

            function validate() {
                for (i = 0; i < arguments.length; i++) {
                    if (!arguments[i]) {
                        return false;
                    }
                }
                return true;
            }

            function submit(param) {
                $.post('/post/add', param, function (data) {
                    if (data.status == 'success') {
                        location.href = '/post/' + data.id;
                    } else {
                        console.log(data.message);
                    }
                });
            }

        </script>

    </div>

</div>

</body>
</html>
