<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/sidebar"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">

    <!-- Title -->
    <h1 class="mt-4" th:text="${post.title}">Post Title</h1>
    <hr>


    <!-- Date/Time/Author -->
    <p>
        <a th:href="@{/posts/{category}(category=${post.category})}" th:text="${post.category}">Category Name</a>
        <span th:text="'Posted on ' + ${post.createdDate}+' by '">Posted on January 1, 2017 by</span>
        <a href="javascript:void(0)" th:text="${post.author}">Start Bootstrap</a>
        <!-- todo : 회원정보 팝업 -->
    </p>
    <hr>

    <!--    &lt;!&ndash; Preview Image &ndash;&gt;
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

    <hr>-->

    <div id="content-area" th:utext="${post.content}"></div>
    <hr>

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form id="comment-form" action="/comment" method="post">
                <div class="input-group">
                    <textarea class="form-control" rows="2" th:maxlength="1000"></textarea>
                    <div class="input-group-append">
                        <button id="comment-submit" class="btn btn-outline-secondary" type="button">submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="comment-dummy" class="comment media mb-4 d-none">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="comment-author mt-0">Comment author</h5>
            <div class="comment-content ">Content</div>
        </div>
    </div>
    <div id="comment-box">
    </div>
    <!--todo:로그인 확인-->

    <script th:inline="javascript">
        $(document).ready(function () {
            getComments();

            $('#comment-submit').click(function (e) {
                e.preventDefault();
                var _value = $('#comment-form textarea').val().trim();
                if (_value)
                    var commentData = {
                        'postId': [[${post.id}]],
                        'content': _value
                    };
                $.post('/comment', commentData, function (data) {
                    appendComment(data);
                });
            });


            function getComments() {
                $.get("/comment/[[${post.id}]]", function (data) {
                    $.each(data, function (key, value) {
                        appendComment(value);
                    });
                });
            }

            function appendComment(data) {
                var _comment = $('#comment-dummy').clone(true).removeAttr('id').removeClass('d-none');
                _comment.find('.comment-author').text(data.author);
                _comment.find('.comment-content').text(data.content);
                $('#comment-box').append(_comment.show());
            }

        })
    </script>
</div>

</div>

</body>
</html>
