<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/default-layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Hello world</title>
    <link rel="stylesheet" type="text/css" href="/css/post.css"/>
</head>
<body>
<div layout:fragment="content">
    <div class="post-container">
        <div class="post-header"><span class="post-category-title">게시판</span></div>
        <div class="post-body">
            <div class="post-title" th:text="${post.title}">제목</div>
            <div class="post-writer" th:text="${post.content}">사용자</div>
            <div class="post-date" th:text="${#dates.format(post.createdDate, 'yyyy-MM-dd')}">2017.12.25</div>
            <div class="post-count" th:text="${post.viewCount}">357</div>
        </div>
        <div class="post-footer">
        </div>
    </div>
</div>
</body>
</html>