<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/sidebar"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>

<th:block layout:fragment="css">
    <link href="/simpleMDE/css/simplemde.min.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
    <script src="/simpleMDE/js/simplemde.min.js"></script>
</th:block>

<div layout:fragment="content">
    <div class="mb-4">

        <!-- Title -->
        <h1 class="mt-4">Write Post</h1>
        <hr>

        <!-- Title Form -->
        <div class="input-group mb-2">
            <input id="post-title" class="form-control" type="text" placeholder="Title">
        </div>
        <div class="input-group mb-2">
            <select id="post-category" class="form-control">
                <option th:each="category:${categories}" th:value="${category.id}"
                        th:text="${category.name}">1
                </option>
            </select>
            <input id="post-tag" class="form-control" type="text" placeholder="Tag">
        </div>
        <!-- Content Form -->
        <textarea id="post-content" placeholder="Content"></textarea>
        <button id="post-submit" class="btn btn-secondary form-control" type="button">Submit</button>

        <script>
            var simplemde = new SimpleMDE({element: $("#post-content")[0], spellChecker: false});

            $('#post-submit').click(function () {

                var category = $('#post-category').val();
                var title = $('#post-title').val();
                var content = simplemde.value();

                if (true) {
                    var post = {
                        'category': category,
                        'title': title,
                        'content': content
                    };
                    submit(post);
                }
            });

            function validate() {
                for (i = 0; i < arguments.length; i++) {
                    if (!arguments[i]) {
                        return false;
                    }
                }
                return true;
            }

            function submit(param) {
                $.post('/write', param, function (data) {
                    if (data.status == 'success') {
                        location.href = '/post/' + data.id;
                    } else {
                        alert(data.message);
                    }
                });
            }
        </script>

    </div>

</div>

</body>
</html>
