/* common */
.post-container {
    padding: 10px;
}

.post-category-title {
    font-size: 1.3rem;
    font-weight: bold;
}

/* list */
.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post-column-name {
    text-align: center;
    font-weight: bold;
}

.post-column-name,
.post-item {
    display: flex;
    border-bottom: 1px solid black;
}

.post-column-name,
.post-item div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-item a {
    color: #000;
    text-decoration: none;
}

.post-item:hover {
    background-color: #f2f2f2;
}

.post-item:last-child {
    border: none;
}

.post-list .post-index {
    width: 5%;
}

.post-list .post-title {

    width: 55%;
}

.post-list .post-writer {
    width: 15%;
}

.post-list .post-date {
    width: 15%;
}

.post-list .post-count {
    width: 10%;
}

/* pagination */
.post-pagination a {
    text-decoration: none;
    color: black;
}

.post-pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.post-pagination li {
    padding: 0 10px;
}

.post-pagination li.active {
    font-weight: bold;
}

/* post view */
.post-view .post-title{

}
